*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ebe2eb ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: red;
    background-color: #f1f1ad;

}

#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(235, 14, 14);
  color: rgb(218, 214, 209);
border: none;
}

#new-btn {
    padding: irem;
    font-size: 1.25rem;
    background-color: #f00a0a;
    color: #111010;
    border-radius: 1rem;
    border: none;
}

#msg {
    color:#f5e50e
    font-size 8vmin;
}

.msg-container {
    height: 15vmin;
    gap: 2rem;
}

.hide {
    display: none;
}

h1{
    color: rebeccapurple;
}